---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque molestiae
    autem voluptates corrupti nulla, at aut mollitia nisi, delectus ab, nemo
    illum. Officia aut asperiores, sed eligendi veniam necessitatibus sint
    sapiente quos amet corrupti maxime, autem eius. Veritatis officia
    temporibus, neque quasi soluta optio dolorum pariatur corporis! Iure quaerat
    blanditiis sapiente eaque quia, iste, itaque minus quod mollitia accusantium
    quibusdam. Laudantium, nobis rerum enim aliquid exercitationem
    necessitatibus praesentium rem dolorem, eius, repellendus eligendi sit esse
    molestiae iure explicabo possimus dolores similique quam. Eius vero ab quia,
    ut, sit tenetur consequuntur assumenda asperiores architecto fugit autem
    nostrum illum unde accusamus libero!
  </p>
</Layout>
